<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean name="customerRepository" class="ar.com.azioth.repository.HibernateCustomerRepositoryImpl"/>
    <bean name="customerService" class="ar.com.azioth.service.CustomerServiceImpl">
        <property name="customerRepository" ref="customerRepository"></property>
    </bean>

</beans>